@media (min-width:992px){
    .aboutus-info{
        
        .container{
            padding: 0;
            .aboutus-text-right{
                padding-left: 2em;
                text-align: left;
            }
            .row{
                .aboutus-img{
                    height: auto;
                    transform: skew(-15deg);
                }
            }
        
        }
        .aboutus-text{
            padding: 5em 0;
            transform: skew(-15deg);
        }
        .aboutus-text-left{
            padding-right: 2em;
            text-align: right;
        }

    }
}
.aboutus-shadow{
    box-shadow: inset 0 5px 10px -5px rgba(0,0,0, .4);
}